body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: black;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .gallery-container {
    position: relative;
  }
  
  #image-container {
    overflow: hidden;
  }
  
  #current-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .navigation-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  